<!DOCTYPE html>
<html>
	<head>
		$include(meta.html)
		<title>Simon Creek</title>
		<link rel="stylesheet" href="style.css">
		<style type="text/css" media="screen">
			.bg { height: 100%; }
			hr { color: #d8d8d8; }
			i { font-style: initial; }
			p { margin-top: 24px; }
		</style>
	</head>
	<body>
		<div class="bg"> 
			$include(navbar.html)
			<div class="container-fluid p-5 col-md-8" style="max-width: 830px;">
				<div style="display:flex; flex-direction:row; align-items:center;">
					<img style="width:50px; height:auto; border-radius: 50%;" src="img/portrait.jpg" alt="portrait"/>
					<h1 class="ms-4 display-5 fw-bold">Simon creek</h1>
					<h5 class="ms-2 fw-bold">(육심현)</h5>
				</div>
				<p class="fs-4">
				I'm an amatuer game designer and also a game tools programmer.
				I've been making game development tools.
				</p>
				<p class="fs-4">
				I'm also a rust programmer and enthusiast. I have some
				experience in Unity C#, android kotlin(Java) and LUA. I don't
				have any bias against programming languages, every learning
				process is a challenging yet entertaining experience.
				</p>
				<hr/>
				<div id="projects">
					<h3 class="mb-4 fw-bold"># Projects</h3>
					<h4 class="fw-bold inline">Gdengine $gitlink(simhyeon/gdengine)</h4>
					<p>
					Gdengine is an game design document creation engine.
					Gdengine can yield various formats such as pptx, docx or
					pdf from single input gddt file.
					</p>
					<p>
					However power of gdengine is not limited to multi-platform
					but most importantaly both ergonomic version control and
					<b>agile</b> form of game design.
					</p>
					<h4 class="fw-bold inline">Gcalc $gitlink(simhyeon/gcalc)</h4>
					<p>
					Gcalc is a game probability calculator. Gcalc is not a
					simulator, but for calculating the effect of probability.
					Gcalc aims to help enabling subtle probability changes that
					is simply not intuitive to understand the aftereffect.
					</p>
					<h4 class="fw-bold inline">R4d $gitlink(simhyeon/r4d)</h4>
					<p>
					R4d(rad) is a text oriented macro processor. R4d was created as
					an alternative to m4 macro processor. There are no m4 quotes
					neither no ambiguous macro calls. R4d can be used as a library
					and highly configurable.
					</p>
				</div>
				<div id="designs">
					<h3 class="fw-bold inline"># Reverse designs <a style="display:inline-block; width:25px; height:25px; color: black; text-decoration:none;" href="https://gd.simoncreek.xyz"><i class="fab fa-git-alt"></i></a></h3>
					<p>
					I've made several reverse design documents of games. Many
					documents were made with gdengine(or its predecessor
					gdmarp) and some were also made with microsoft powerpoint.
					</p>
				</div>
			</div> <!-- End Container -->
		</div>	
	</body>
</html>
