<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://simoncreek.xyz">Simon Creek</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="https://blog.simoncreek.xyz" style="background-color: #00000000;">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/simhyeon" style="background-color: #00000000;">Github</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://simoncreek.xyz/aboutme.html" style="background-color: #00000000;">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://simoncreek.xyz/portfolio_kr.html" style="background-color: #00000000;">포트폴리오</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://gd.simoncreek.xyz" style="background-color: #00000000;">역기획 저장소</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
